@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "SF Pro Display", sans-serif;
  }
}

@layer components {
  .home-page_section a:hover,
  .products-container a:hover {
    @apply underline underline-offset-2;
  }
  .bg-iphones-pattern {
    @apply bg-cover bg-no-repeat  bg-center  flex flex-col items-center text-center;
  }
  .iPhone15_Pro {
    @apply h-[34rem] lg:h-i15Pro bg-iphones-pattern  text-white;
  }
  .iPhone15 {
    @apply h-[32rem] lg:h-i15 bg-iphones-pattern bg-iPhone15 text-black;
  }
  .watch {
    @apply h-[32rem] lg:h-watch  text-white flex items-end justify-center bg-watch_bg lg:bg-center bg-[65%] object-cover bg-no-repeat;
  }
  .watch-info {
    @apply py-12 lg:py-18 flex flex-col items-center gap-5;
  }
  .item-1 {
    @apply bg-produc_item-1;
  }
  .item-2 {
    @apply bg-produc_item-2;
  }
  .item-3 {
    @apply bg-produc_item-3;
  }
  .item-4 {
    @apply bg-produc_item-4;
  }
  .item-5 {
    @apply bg-produc_item-5;
  }
  .item-6 {
    @apply bg-produc_item-6;
  }
  .items {
    @apply min-h-[34rem] flex flex-col bg-center  bg-cover  bg-no-repeat justify-start items-center;
  }

  /* footer*/
  .footer-section {
    @apply bg-footer_background  mt-14  py-4;
  }
  .apple-closer-shops a {
    @apply text-blue-700  underline-offset-2 underline;
  }

  hr {
    @apply hidden lg:block lg:container h-px my-8 bg-gray-500 border-0;
  }

  .rules p > a {
    @apply text-footer_link_color underline-offset-2 underline;
  }
  .rules p {
    @apply text-footer_text_color;
  }
  .footer-links-col ul a,
  .legal-footer-links ul a,
  .copyright a {
    @apply text-footer_link_color text-lg hover:underline hover:underline-offset-2;
  }

  .footer-links-col ul {
    @apply flex flex-col gap-1;
  }
  .footer-links-col h3 {
    @apply font-semibold;
  }
  .copyright {
    @apply text-footer_link_color;
  }

  #logo-svg:hover,
  #shopping-svg:hover,
  #search-svg:hover {
    @apply fill-white duration-300 ease-linear;
  }

  #close-mobile-menu-btn:hover {
    @apply text-white duration-500 ease-in;
  }

  /* test */
  .full-menu-preview {
    z-index: 99999999;
    transition: all 0.3s ease-in-out;
  }
  .legal-footer-links li:not(:last-child) > a {
    @apply after:content-['|'] relative after:absolute after:-right-3 after:-top-1;
  }

  .full-menu-preview.active {
    @apply h-auto  bg-black transition-height ease-in-out;
  }

  .full-menu.active {
    @apply bg-black;
  }
  .main.active {
    @apply blur-sm;
  }
  .turn_of_scroll {
    @apply overflow-hidden;
  }

  .full-menu-preview-container a:hover {
    @apply underline underline-offset-2;
  }

  .footer-links-col ul {
    @apply -translate-y-8  lg:translate-y-0 lg:scale-y-100 h-0 lg:h-auto overflow-hidden transition-transform !duration-[700ms] ease-in-out;
  }

  ul.active {
    @apply translate-y-0 scale-y-100 origin-top-right pb-4 h-auto transition-transform !duration-[700ms] ease-in-out;
  }
}
